<!DOCTYPE html><html lang="en-us">
<head>
<meta charset="utf-8">
<title>Account Overview · Kraken.io</title>
<meta name="description" content="Optimize your images with blazing speed using powerful API and online web interface">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="robots" content="all, index, follow">
<link href="https://kraken-nekkraug.netdna-ssl.com/assets/styles/account.css?19c05e73d2e067f80155dbc2e1f5db16" type="text/css" rel="stylesheet"/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@KrakenIO">
<meta name="twitter:creator" content="@KrakenIO">
<meta name="twitter:title" content="Kraken.io Image Optimizer">
<meta name="twitter:description" content="Kraken.io is a robust, ultra-fast image optimizer and compressor with best-in-class algorithms. We'll save you bandwidth and storage space and will dramatically improve your website’s load times.">
<meta name="twitter:image" content="https://kraken-nekkraug.netdna-ssl.com/assets/images/twitter-summary-large.png">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-WCKNCPJ');</script>
<!-- End Google Tag Manager -->
<meta name="google-site-verification" content="ZyKhmBO7KE5qY1yEgQlUXXO9pJ0knKynWEIfFn4Y5B8"/>
<meta property="og:url" content="https://kraken.io">
<meta property="og:site_name" content="Kraken.io">
<meta property="og:title" content="Kraken.io Image Optimizer">
<meta property="og:type" content="website">
<meta property="og:description" content="Kraken.io is a robust, ultra-fast image optimizer. Thanks to its vast array of optimization algorithms Kraken.io is a world ahead of other tools. Want to save bandwidth and improve your website's load times? Look no further and welcome to Kraken.io!">
<meta property="og:image" content="https://kraken.io/assets/images/facebook-image.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="620">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<link rel="icon" type="image/x-icon" href="/favicon.ico?v=2">
<link rel="prerender" href="https://kraken.io/account/optimizer/uploader">
<script>var __lc = {license: 4912161,visitor: {name: "",email: "pangdoraa@naver.com"}};!function() {var a = document.getElementsByTagName("script")[0],b = document.createElement("script");b.async = "async";b.src = "https://cdn.livechatinc.com/tracking.js";a.parentNode.insertBefore(b, a);}();</script>
</head>
<body ng-app="account">
<!-- Google Tag Manager (noscript) -->
<noscript>
<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCKNCPJ" height="0" width="0" style="display:none;visibility:hidden">
</iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="nav-bar" ng-controller="headerCtrl">
	<div id="nav-bar-content">
		<div id="nav-bar-user" angular-ripple ng-click="toggleUserMenu()">
			<img src="https://secure.gravatar.com/avatar/77416558c4097a69586f9b8c6ccdd7b3?s=80&d=identicon" width="40" height="40">pangdoraa@naver.com<i class="caret"></i>
		</div>
		<div id="nav-user-menu" ng-class="{'active':showUserMenu}" click-outside="hideUserMenu()" outside-if-not="nav-bar-user">
			<span class="arrow"></span>
			<ul>
				<li><a href="/account/account-settings"><span class="glyphicons glyphicons-cogwheels"></span>Manage Account</a></li>
				<li class="mobile-visible"><a href="/account/status"><span class="glyphicons glyphicons-cardio"></span>System Status</a></li>
				<li class="mobile-visible"><a href="/account/updates"><span class="glyphicons glyphicons-wifi-alt"></span>Updates</a></li>
				<li><a href="" ng-click="openChat()"><span class="glyphicons glyphicons-life-preserver"></span>Contact Support</a></li>
				<li><a href="/account/logout"><span class="glyphicons glyphicons-exit"></span>Sign Out</a></li>
			</ul>
		</div>
		<div id="nav-bar-messages">
			<div class="item">
				<a id="nav-bar-wi" href="/account/optimizer/uploader"><span class="glyphicons glyphicons-display"></span>Web Interface PRO</a>
			</div>
			<div class="item updates">
				<a id="nav-bar-updates" href="/account/updates"><span class="glyphicons glyphicons-wifi-alt"></span>Updates<em>21</em></a>
			</div>
			<div class="item">
				<a id="nav-bar-status" href="/account/status"><span class="glyphicons glyphicons-cardio"></span>System Status</a>
			</div>
			<div class="item">
				<a id="nav-bar-support" href="" ng-click="openChat()"><span class="glyphicons glyphicons-life-preserver"></span>Support</a>
			</div>
		</div>
	</div>
	<div id="nav-bar-overlay" ng-class="{'active':showUserMenu || mobileMenuVisible}">
	</div>
</div>
<aside id="aside" ng-controller="sidebarCtrl" ng-class="{'isMobile': mobileMenuVisible}">
<div id="aside-header">
	<span class="glyphicons glyphicons-menu-hamburger" ng-click="toggleMobileMenu()"></span><a href="/"></a>
</div>
<div id="aside-main-content">
	<div id="aside-top-user">
		<img src="https://secure.gravatar.com/avatar/77416558c4097a69586f9b8c6ccdd7b3?s=80&d=identicon" width="30" height="30"><span>pangdoraa@naver.com</span>
	</div>
	<nav>
	<ul>
		<li><a id="menu-overview" href="/account"><span class="glyphicons glyphicons-home"></span>Account Overview</a></li>
		<li><a id="menu-credentials" href="/account/api-credentials"><span class="glyphicons glyphicons-keys"></span>API Dashboard</a></li>
		<li><a id="menu-wi" href="/account/optimizer/uploader"><span class="glyphicons glyphicons-display"></span>Web Interface PRO</a></li>
		<li><a id="menu-billing" href="/account/billing"><span class="glyphicons glyphicons-credit-card"></span>Plans and Billing</a></li>
		<li><a id="menu-archives" href="/account/archives"><span class="glyphicons glyphicons-compressed"></span>Optimized Archives</a></li>
		<li><a id="menu-storage" href="/account/storage"><span class="glyphicons glyphicons-cloud"></span>Kraken.io Cloud Storage</a></li>
		<li><a id="menu-webhooks" href="/account/webhooks"><span class="glyphicons glyphicons-transfer"></span>Delivered Webhooks</a></li>
		<li><a id="menu-referral" href="/account/referral"><span class="glyphicons glyphicons-heart"></span>Referral Program</a></li>
	</ul>
	</nav>
	<div id="aside-sub-nav">
		<ul>
			<li><a href="" ng-click="openChat()"><span class="glyphicons glyphicons-life-preserver"></span>Contact Support</a></li>
		</ul>
	</div>
</div>
<div id="mobile-menu-overlay" ng-class="{'active': mobileMenuVisible}">
</div>
</aside>
<div id="account-wrap">
	<div id="account-content" class="cf">
		<div class="account-page-title">
			Account Overview
		</div>
		<div class="alert-wrap alert-top">
			<div class="alert alert-warning">
				<strong>An email has been sent to pangdoraa@naver.com.</strong><br>
				Verify your account by clicking on the verification link contained in the email in order to start using our PRO services.
				<div class="resend-email-wrap" ng-controller="resendEmailCtrl">
					<button ng-disabled="isProcessing" ng-hide="hideEmailButton" ng-click="resendEmail()">Resend Activation Email</button><span ng-show="showEmailSuccess" ng-cloak>We sent a verification email to pangdoraa@naver.com. Please follow the instructions in it.</span>
				</div>
			</div>
		</div>
		<div class="account-row quota-tweet">
			<div class="account-card referral-links">
				<p>
					We will permanently bump up your quota by <strong>100 MB for every referred customer</strong> that signs up for a paid plan.<br>
					Share your own unique referral link (below) on Twitter, Facebook, your blog - wherever your friends can see it!
				</p>
				<div class="refcode-buttons-wrap cf">
					<div class="refcode-input">
						<input class="kraken-input" type="text" value="https://kraken.io/?ref=37e46b2f5600" readonly="">
					</div>
					<div class="refcode-buttons">
						<span>Share via:</span><a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fkraken.io%2F%3Fref%3D37e46b2f5600&amp;via=KrakenIO&amp;text=Kraken.io%20-%20Speed%20up%20your%20website%20with%20powerful%20image%20optimization&amp;hashtags=seo%2C%20webperf%2C%20perfmatters" target="_blank"><button class="twitter">Twitter</button></a><a href="https://plus.google.com/share?url=https%3A%2F%2Fkraken.io%2F%3Fref%3D37e46b2f5600" target="_blank"><button class="gplus">Google+</button></a><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fkraken.io%2F%3Fref%3D37e46b2f5600%26title%3DKraken.io%2BImage%2BOptimizer%26summary%3DOptimize%2Byour%2Bimages%2Bwith%2Bblazing%2Bspeed%2Bon%2BKraken.io%2Band%2Baccelerate%2Byour%2Bwebsites%2Bnow%26source%3Dhttps%253A%252F%252Fkraken.io" target="_blank"><button class="linkedin">LinkedIn</button></a>
					</div>
				</div>
			</div>
		</div>
		<div class="quota-tweet-separator">
		</div>
		<div class="account-row top-info with-flex">
			<div class="account-card">
				Plan Level<strong>Free</strong>
			</div>
			<div class="account-card">
				Max Filesize<strong>32 MB</strong>
			</div>
			<div class="account-card">
				Quota<strong>100 MB</strong>
			</div>
			<div class="account-card">
				Current Usage<strong>0</strong>
			</div>
			<div class="account-card">
				Next Billed On<strong>Never</strong>
			</div>
		</div>
		<div class="account-row">
			<div class="account-card">
				<div id="overview-charts" ng-controller="overviewChartsCtrl">
					<span id="chart-quota" class="chart" easypiechart options="optionsQuota" percent="percentQuota" data-quota="0"><span id="chart-quota" class="percent" ng-bind="percentQuota"></span><strong>Current Quota Usage</strong></span><span id="chart-savings" class="chart" easypiechart options="optionsSavings" percent="percentSavings" data-savings="0"><span class="percent" ng-bind="percentSavings"></span><strong>Your Average Savings</strong></span>
					<p>
						Overall, you have optimized <strong>0</strong> of images (0 files) saving <strong>0 (0%)</strong> total file size.
					</p>
				</div>
			</div>
		</div>
		<div class="account-row">
			<div class="account-card with-daily-chart cf" ng-controller="dailyChartsCtrl" ng-init="showChart()">
				<h3>Your Optimization Statistics
				<div id="daily-chart-controls" ng-class="{'active': hasChartData}">
					<button ng-class="{'active': monthlyStatsActive}" ng-click="switchData('month')">Monthly</button><button ng-class="{'active': dailyStatsActive}" ng-click="switchData('day')">Daily</button>
				</div>
				</h3>
				<div id="chart-container" class="cf">
					<div id="no-daily-stats">
						<span>You have not optimized any images yet</span>
					</div>
					<div id="daily-chart" data-stats="" class="no-data">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer id="account-footer">Copyright &copy; 2013 - 2021 Nekkra UG.
</div>
<script>(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create", "UA-2113818-19", "auto");ga("set", "anonymizeIp", true);ga("send", "pageview");</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="https://kraken-nekkraug.netdna-ssl.com/assets/javascripts/account.js?19c05e73d2e067f80155dbc2e1f5db16" type="text/javascript"></script>
</body>
</html>